body{
    background-image: linear-gradient(to right top, #8be8f6, #62eef2, #2ff4e5, #00f8d0, #00fab2, #49fb9e, #6cfb89, #89fb74, #aafb71, #c5fa71, #ddf975, #f2f87c);

    font-family: 'Balsamiq Sans', cursive;

    font-size: 22px;
}
